@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

html {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.App {
  width: 100vw;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
align-items: center;}
#root {
  width: 100vw;
  min-height: 100vh;
}
h1,
h2,
h3,
th {
  font-family: "Nunito";
  font-weight: 800;
  color: #2b0a55;
  margin-top: 0px;
  font-size: 50px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 26px;
}
button {
  font-family: "Varela";
  border-radius: 8px;
  border: none;
  padding: 14px 16px 14px 16px;
  background-color: #0d63e3;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}
button:hover {
  cursor: pointer;
  background-color: #e30d63;
}
i:hover {
  cursor: pointer;
}

.BasicTemplate {
  display: grid;
  grid-template-rows: 7vh 93vh;
}

.Success {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.Success img {
  width: 100px;
  height: 100px;
}

.statWrap {
  display: flex;
  flex-direction: row;
  margin-top: 26px;
  margin-bottom: 26px;
  justify-content: flex-start;
}
.statWrap p {
  margin: 0px;
}
.statWrap .result {
  margin-left: auto;
  font-family: "Nunito";
  font-weight: 700;
  word-wrap: break-word;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form {
  display: flex;
  flex-direction: column;
}
.FormClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Varela";
  height: 100%;
}
.FormClass form {
  justify-content: center;
  align-items: center;
  border: 1px solid #2b0a55;
  border-radius: 30px;
  box-shadow: 4px 7px #2b0a55;
  width: 330px;
  height: 330px;
  padding-top: 10px;
}
#reportProblemForm {
  height: 570px;
  margin-right: 20px;
  width: 330px;
}
#changePasswordForm {
  margin-right: 20px;
}
.acceptTerms {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
#changePasswordForm {
  min-height: 400px;
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="datetime-local"] {
  width: 90%;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px lightgray;
  font-size: 18px;
  padding-left: 5px;
}
form input[type="number"] {
  max-width: 50px;
  text-align: right;
  margin-left: 15px;
}
form select,
form textarea {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid 1px lightgray;
  font-size: 16px;
  border-radius: 5px;
  resize: none;
}

form textarea {
  height: 100px;
  width: 89%;
  overflow-y: auto;
  padding-top: 6px;
  padding-left: 8px;
}
form select {
  height: 30px;
  padding-left: 5px;
}
form input[type="file"] {
  width: 80%;
  font-size: 12px;
}
small {
  font-size: 14px;
  color: gray;
}
form input[type="text"],
form input[type="password"],
form input[type="number"],
:focus {
  outline: none;
}
form input[type="submit"] {
  border: none;
  margin-top: 10px;
  border-radius: 8px;
  padding: 12px 14px 12px 14px;
  width: fit-content;
  font-size: 16px;
  background-color: #2b0a55;
  color: white;
}
form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #e30d63;
}
.FormClass form input[type="text"],
.FormClass form input[type="password"] {
  margin-top: 15px;
  margin-bottom: 30px;
}
.FormClass form input[type="text"],
.FormClass form input[type="password"],
.FormClass form select,
.FormClass form textarea {
  width: 80%;
}
label {
  text-align: left;
  display: inline-block;
}

.FormClass form label {
  align-self: flex-start;
  margin-left: 10%;
  font-size: 24px;
}
.FormClass form a {
  color: #0d63e3;
  font-size: 14px;
}

.Header {
  grid-row: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #0d63e3;
}
.Header img {
  margin-left: 30px;
  max-height: 65%;
}

table {
  width: 90%;
  border-collapse: collapse;
}

th {
  font-size: 22px;
  text-align: right;
}
td {
  font-family: "Varela";
  font-size: 18px;
  text-align: right;
  border: 1px solid lightgray;
  border-left: 0px;
  border-right: 0px;
  height: 25px;
  max-width: 60px;
}
td,
th {
  padding-left: 10px;
  padding-right: 10px;
}

#left {
  text-align: left;
}
#center {
  text-align: center;
}
#icon-true {
  color: #0de38e;
}
#icon-false {
  color: #e30d63;
}
.pageMover {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
  margin-top: 50px;
}
#back,
#forward {
  display: flex;
  align-items: center;
}
#back {
  grid-column: 1;
  justify-content: flex-start;
}
#forward {
  grid-column: 2;
  justify-content: flex-end;
}
.pageMover i {
  margin-left: 30px;
}

#chevron-left {
  margin-left: 0px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 30px;
}
.tableMover {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.tableMover i {
  margin-left: 30px;
}
.next {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Strategy .fas.fa-plus {
  align-self: center;
}
.Chat {
  width: 350px;
  margin: 20px 0px 20px 0px;
  z-index: 1;
  position: fixed;
  right: 80px;
  bottom: 30px;
  display: flex;
  justify-content: flex-end;
}
.Chat #chatIcon {
  color: #2b0a55;
  border: 2px solid #2b0a55;
  border-radius: 50%;
  padding: 8px;
}
.Chat #chatIcon:hover {
  color: #e30d63;
  border-color: #e30d63;
}
.Chat #chatOpened {
  border: 1px solid #0d63e3;
  width: 100%;
  border-radius: 5px;
  background: white;
}
#error {
  color: #e30d38;
  margin: 0;
}
#taskbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-right: 10px;
}
#taskbar:hover {
  cursor: pointer;
}
#taskbar small {
  margin-left: 20px;
}
hr {
  margin: 5px 0px 5px 0px;
  color: lightgray;
}
#Messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 14px;
  width: 100%;
  height: 300px;
}
#Messages p {
  word-wrap: break-word;
  width: fit-content;
  max-width: 45%;
  height: fit-content;
  background-color: #0d63e3;
  border-radius: 5px;
  color: white;
  padding: 5px 7px 5px 7px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
}
#Messages .Opponent {
  justify-self: start;
  margin-left: 10px;
  padding-right: 9px;
}
#Messages .Player {
  justify-self: end;
  margin-right: 10px;
  margin-left: auto;
  padding-left: 9px;
}
#sendMessage {
  display: flex;
  flex-direction: row;
  padding: 0px 10px 0px 10px;
  align-items: center;
  height: 40px;
}
#sendMessage textarea {
  font-size: 14px;
  word-wrap: break-word;
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  margin: 0px;
}
#sendMessage i {
  margin-left: 10px;
  margin-right: 10px;
  color: #2b0a55;
}
#sendMessage i:hover {
  color: #e30d63;
}

.Notifications {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #2b0a55;
  border-radius: 10px;
  position: fixed;
  top: 50px;
  right: 110px;
  z-index: 50;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 600px;
  margin-bottom: 50px;
  background-color: white;
}
.Notifications #no-notifications{
  margin-left: 20px;
}
.Notifications div {
  display: grid;
  background-color: white;
  color: #2b0a55;
  padding: 14px 20px 12px 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid lightgray;
  height: 110px;
  text-align: justify;
  grid-template-rows: 20% 65% 15%;
}
.Notifications div h4 {
  grid-row: 1;
  margin-top: 0px;
  margin-bottom: 16px;
}
.Notifications div p {
  grid-row: 2;
  margin-bottom: 0px;
}
.Notifications div small {
  grid-row: 3;
  margin-bottom: 10px;
}
::-webkit-scrollbar {
  border-radius: 10px;
}
::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.Filter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0px;
  justify-content: end;
  margin-right: 50px;
  }
.Filter li{
  list-style-type: none;
  margin-left: 24px;
  font-size: 24px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Filter #checked{
  text-decoration-line: underline;
  text-decoration-color: #e30d63;
  text-decoration-thickness: 4px;
}
.Filter li:hover{
  cursor: pointer;
}
.notificationCount {
  width: 10px;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  background-color: #e30d38;
  border-radius: 50%;
  right: 10px;
  top: 5px;
  position: relative;
}
.CreateQuiz {
  padding-bottom: 70px;
}
#CreateQuizIcon {
  margin-left: 50%;
}
.Question {
  margin-bottom: 20px;
  border: solid 1px lightgray;
  border-radius: 10px;
  padding: 20px;
}
.QuestionBody {
  padding-left: 40px;
}
.QuestionIconsArray {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.QuestionIconsArray select {
  font-family: "FontAwesome", "Varela";
}
.QuestionIconsArray i {
  margin: 10px 15px 10px 15px;
}
.css-1s2u09g-control {
  width: 250px;
}
.css-1pahdxg-control {
  width: 250px;
}
.AnswersTable {
  max-width: 100%;
}
/* .QuestionIconsArray label {
  margin-left:
} */
.QuestionIconsArray i:hover {
  color: #e30d63;
}
.ClosedQuestion {
  border: lightgray 1px solid;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.ClosedQuestion h2 {
  margin: 0px;
  align-self: center;
}
.ClosedQuestion i {
  border-radius: 50%;
  border: #2b0a55 solid 1px;
  padding: 3px 7px 3px 8px;
  margin-right: 10px;
}
.QuestionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.QuestionHeader h2 {
  margin: 0px;
  align-self: center;
}
#chevron-down {
  border-radius: 50%;
  border: #2b0a55 solid 1px;
  padding: 3px 7px 3px 8px;
  margin-right: 10px;
  transform: rotate(90deg);
}
.QuestionHeader:hover {
  cursor: pointer;
}
.QuestionHeader:hover #chevron-down {
  transform: rotate(0deg);
}
.ClosedQuestion:hover {
  cursor: pointer;
}
.ClosedQuestion:hover .fas.fa-chevron-right {
  transform: rotate(90deg);
}
.AnswersTable {
  margin-top: 30px;
  width: 600px;
}
.AnswersTable td {
  border: none;
  padding: 0;
  text-align: left;
}
.AnswersTable th {
  text-align: left;
}
#question-positive-points {
  display: flex;
  flex-direction: row;
}
#question-positive-points input {
  max-width: 40px;
  margin-left: 20px;
  text-align: right;
  padding: 0px;
}
.QuizInput {
  display: block;
}
.QuizQuestion {
  border: lightgray 1px solid;
  border-radius: 10px;
  padding: 25px;
  padding-left: 35px;
  margin-bottom: 30px;
}
.Buttons {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
.ButtonsAlignRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.ButtonsAlignRight button {
  max-width: 160px;
  width: fit-content;
}
.ButtonsAlignLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.Buttons div {
  display: flex;
  flex-direction: column;
}
#LeftColumn {
  grid-column: 1;
}

#RightColumn {
  grid-column: 3;
}
#RightColumn button {
  background-color: #ff3349;
}
.Modal {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  margin-left: 50%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  top: 25%;
  right: 30%;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-bottom: 10px;
}
.modal-header h3 {
  margin-bottom: 0px;
}
.Modal form {
  width: 80%;
}
.Dropzone {
  text-align: center;
  border: dashed 1px lightgray;
  border-radius: 10px;
  padding: 15px 20px 30px 20px;
  margin-bottom: 20px;
  width: 220px;
  max-height: 70px;
  height: fit-content;
}
.dropzone-header {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.Dropzone p {
  margin: 0;
  font-size: 20px;
}
.Dropzone small li {
  font-size: 12px;
  list-style: none;
}
.ImageButton {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ImageButton:hover {
  cursor: pointer;
}
.ImageButton p {
  margin-right: 10px;
}
.ImageHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.ImageHolder img {
  max-width: 80%;
  max-height: 500px;
}
#problemDescription {
  width: 248px;
  padding-left: 10px;
  padding-top: 5px;
}
#problemType {
  width: 262px;
}


/* #e30d63, #0d63e3, #e38e0d, #0dcee3, #2b0a55, #ff5733, #ccccff,
#58d68d, #6495ed, #ff3349, #8e44ad, #f5b7b1, #1a5276, #f7dc6f */
@media screen and (max-width: 900px) {
  
  /* .fas.fa-user-circle.fa-lg{
    right: 17.5px;
    top: 22.5px;
  } */
  /* .notificationDiv {
    right: 52.5px;
    top: 22.5px;
  } */
  .css-1s2u09g-control {
    width: 100%;
  }
  .css-1pahdxg-control {
    width: 100%;
  }
  th {
    font-size: 11px;
  }
  table p,
  td {
    font-size: 13px;
  }
  .Chat {
    max-width: 90%;
    right: 5%;
  }
  .Charts {
    display: block;
  }
  .StrategyInput h2 {
    font-size: 18px;
  }
  .StrategyInput .Strategy {
    width: 100%;
    font-size: 14px;
  }
  .statWrap .result {
    max-width: 150px;
  }
  .FormClass form {
    height: 300px;
    width: 300px;
  }
  .AnswersTable {
    width: 100%;
  }
  .Notifications {
    right: 90px;
    top: 30px;
    width: 65%;
  }
  .Success {
    width: 75%;
  }
}


@media screen and (min-width: 1441px) {
  .UserInfo .statWrap {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 420px) {
  #place{
    max-width: fit-content;
    text-align: right;
    padding: 0;
  }
  td#left{
    font-size: 11px;
  }
  td, th{
    max-width: 50px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 26px;
  }
}
