.GameDashboard {
    height: 100%;
  }
  .Chart{
    margin-bottom: 20px;
  }
  
  .Charts {
    margin-top: 22px;
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 20px;
  }
  .Charts #firstPlayer {
    grid-column: 1;
    margin-right: 10px;
  }
  .Charts #secondPlayer {
    grid-column: 2;
    margin-left: 10px;
  }
  svg text {
    font-size: 10px;
    color: white !important;
  }

  .Results {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .ResultsTable {
    width: 100%;
    margin-bottom: 30px;
  }
  .DashboardQuestion {
    margin-bottom: 30px;
  }